RewriteEngine On

RewriteRule (.*) engine/$1 [L]

#Don't forget : active mode_deflate 
#Don't forget : active mod_filter
SetOutputFilter DEFLATE
AddOutputFilterByType DEFLATE text/html text/css text/plain text/xml application/x-javascript application/x-httpd-php

<FilesMatch "\.(ico|jpe?g|png|gif|css|mp4|mp3)$">
 Header set Cache-Control "max-age=2592000, public"
</FilesMatch>