:root{
	--adminPanel-color:#FF9900;
	--adminPanel-color-lighter:#FFBB00;
	--adminPanel-height:90%;
	--adminPanel-width:90%;
	--adminPanel-top:5%;
	--adminPanel-left:5%;
	--adminPanel-workSpace-scale : 0.935;
	--adminPanel-leftBar : 6.5%;
	--adminPanel-bottomBar : 6.5%;
	--adminPanel-leftIcon-height : 70px;
}
html{
	height:100%;
	background-color: rgb(35,35,35);
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: 200;
}
body{ height:100%; margin:0; overflow:hidden; }
iframe{
	border:none;
	height:100%;
	width:100%;
	transition:0.35s;
	transform-origin: top right;
	display:block;
	box-sizing: border-box;
}
.panel{
	position:fixed;
	transition:0.35s;
	display:flex;
	color:var(--adminPanel-color);
}
.panel .panel-item > label{
	display:inline-block;
	height:100%;
}
.panel > .panel-item{ cursor:pointer; }
.panel-left > .panel-item{
	cursor:pointer;
	position:relative;
	height:var(--adminPanel-leftIcon-height);
	width:100%;
	display:flex;
	justify-content: center;
	box-sizing: border-box;
	background-color: rgb(35,35,35);
	transition:all 0.35s;
}
.panel-bottom{
	flex-direction: row;
	justify-content: flex-end;
	border:none;
	background-color: rgb(35,35,35);
}
.panel-bottom > .panel-item {
	padding:0;
	box-sizing: border-box;
	height:100%;
	transition:all 0.35s;
	width:80px;
	display:block;
	margin:0;
}
.panel > .panel-item:hover{ border-color:var(--adminPanel-color); }
.panel > .panel-item > * > svg{
	cursor:pointer;
	display:inline-block;
	height:100%;
}
.panel-left > .panel-item > * > svg{
	width:100%;
	padding: 10px 20px;
	box-sizing: border-box;
}
.panel-bottom > .panel-item > label,
.panel-bottom > .panel-item > div{
	height:100%;
	display:block;
}
.panel-bottom > .panel-item > * > svg{
	height:100%;
	box-sizing: border-box;
	width:80px;
}
.panel > .panel-item > * > svg polygon,
.panel > .panel-item > * > svg path{
	fill:white;
	cursor:pointer;
	transition:all 0.35s;
}
.panel > .panel-item:hover > * > svg polygon,
.panel > .panel-item:hover > * > svg path { fill:var(--adminPanel-color); }
.panel-bottom > a{
	display:block;
	height:100%;
	color:inherit;
	text-decoration: inherit;
}
.panel > .panel-item  > * > span{
	cursor:pointer;
	display:inline-block;
	position:absolute;
	visibility: hidden;
	opacity: 0;
	height:100%;
	padding:20px;
	top:50%;
	left:0;
	text-align: center;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background-color: rgba(35,35,35,0.8);
	border-right:2px solid var(--adminPanel-color);
	box-shadow: 2px 2px 10px rgba(0,0,0,0.6);
	transform: translateY(-50%);
	transition: all 0.35s;
}
.panel-left > .panel-item  > * > span{
	top:0;
	left: -100%;
	transform: translateY(0);
	width:100%;
	height:100%;
	border:none;
	box-shadow: none;
	background-color: rgba(35,35,35,1);
}
.panel-bottom > .panel-item  > * > span{
	display:block;
	left:initial;
	transform: translateX(-100%);
	border-radius:0;
}
.panel > .panel-item  > * > span:before{
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.panel > .panel-item  > * > span:before{ display:none; }
.panel > .panel-item  > * > svg:hover ~ span{
	visibility: initial;
	opacity: 1;
}
.panel-left > .panel-item  > *:hover > span{
	visibility: initial;
	opacity: 1;
	border:none;
	left:0;
	display:none;
}
.panel-bottom > .panel-item  > * {
	position:relative;
	padding:0;
}
.panel-bottom > .panel-item  > * > svg{
	display:block;
	padding:5px;
	position:absolute;
	top:0;
	left:0;
}
.panel-bottom > .panel-item  > * > svg:hover ~ span{
	top:0;
	left:initial;
	display:none;
}

.panel-left{
	top:0;
	left:-100%;
	height:100%;
	width:var(--adminPanel-leftBar);
	padding-bottom: 6.666%;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
}
.panel-bottom{
	left:var(--adminPanel-leftBar);
	bottom:-100%;
	width:90%;
	height:var(--adminPanel-bottomBar);
}
#panel-command:checked ~ .panel-left{
	left:0;
}
#panel-command:checked ~ .panel-bottom{
	bottom:0;
}
.panel-main-button{
	position:absolute;
	bottom:20px;
	left:20px;
	cursor:pointer;
	height:50px;
	width:50px;
	transition: all 0.35s;
}
.panel-main-button path{
	transition: all 0.35s;
	fill : white;
}
.panel-main-button:hover path{
	fill : var(--adminPanel-color);
	stroke:white;
	stroke-width: 10px;
}
.panel-main-button img{
	height:50px;
}
#panel-command{
	display:none;
}
#panel-command:checked ~ iframe{
	transform:scale(var(--adminPanel-workSpace-scale));
}
#panel-command:checked ~ .panel-main-button{
	transform:rotate(360deg);
}
.hidden-input{ display:none; }
.panel > .panel-item > .main-panel{
	top:-100%;
	right:0;
	visibility:hidden;
	opacity:0;
	position:fixed;
	width:100%;
	height:100%;
	transform-origin: top right;
	transform: scale(var(--adminPanel-workSpace-scale));
	transition:all 0.35s;
	background-color: rgba(0,0,0,0.9);
}
#panel-command:checked ~ .panel > .panel-item > input:checked ~ .main-panel{
	top:0;
	opacity: 1;
	visibility: visible;
}
.panel > .panel-item > input:checked ~ .main-panel:hover ~ span{ opacity:0; }
.panel-window{
	position:relative;
	background-color: rgb(35,35,35);
	height:var(--adminPanel-height);
	width:var(--adminPanel-width);
	left:var(--adminPanel-left);
	top:var(--adminPanel-top);
	cursor:initial;
	color:white;
}
.panel-window .head{
	display:flex;
	justify-content: space-between;
	font-size:125%;
	box-shadow: 0 5px 20px rgba(0,0,0,0.5);
}
.panel-window .head .title{
	text-align:center;
	padding:10px;
	flex:1;
	margin:auto;
}
.panel-window .head .title > *{
	font-weight: 300;
}
.panel-window .head .buttons{
	display:flex;
	justify-content: flex-end;
}
.panel-window .head .buttons .close{
	cursor:pointer;
	margin:auto;
	padding-right:15px;
}
.panel-window .head .buttons .close:hover{
	color:var(--adminPanel-color);
}
.panel-window .head .buttons .close > span{
	display:block;
	transform-origin: center center;
	transform: rotate(45deg);
	font-size:200%;
}
.panel-window {
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}
.panel-window > .body{
	flex:1;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}
.panel-window .body > .buttons:last-child{
	display:flex;
	justify-content: center;
	flex-shrink: 0;
	margin-top:20px;
}
.panel-window button{
	padding: 10px 30px;
	background-color: var(--adminPanel-color);
	border-radius: 100px;
	border:none;
	font-size:inherit;
	font-family: inherit;
	cursor:pointer;
	transition: all 0.35s;
	flex:1;
	max-width:150px;
	outline:none;
	font-weight: 500;
}
.panel-window button:hover{
	background-color: var(--adminPanel-color-lighter);
}
.panel-window button:not(:last-of-type){
	margin-right:20px;
}
.logout-dialog{
	position:fixed;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
	background-color: rgb(55,55,55);
	padding:20px;
	color:white;
	box-shadow:5px 5px 20px rgba(0,0,0,0.6);
	border-radius: 10px;
	opacity:1;
	animation-name: fadeIn;
	animation-duration: 0.25s;
	animation-iteration-count: 1;
	text-align:center;
}
@keyframes fadeIn {
	from{
		opacity:0;
		top:40%;
	}
	to{
		opacity: 1;
		top:50%;
	}
}
.logout-dialog .buttons{
	display:flex;
	justify-content: space-around;
	margin-top:20px;
}
.logout-dialog .buttons a{
	padding:10px 40px;
	box-shadow:5px 5px 10px rgba(0,0,0,0.4);
	text-decoration: inherit;
	cursor:pointer;
	background-color: var(--adminPanel-color);
	color:black;
	font-weight:500;
	border-radius:100px;
	transition: all 0.35s;
}
.logout-dialog .buttons a:first-child{
	margin-right:20px;
}
.logout-dialog .buttons a:hover{
	background-color: var(--adminPanel-color-lighter);
}

/*Tables*/

.body .table-contener{
	flex:1;
	margin-top:20px;
	position:relative;
	overflow:auto;
}
.body table{
	width:100%;
	text-align:center;
	overflow:auto;
	max-height: 100%;
	display:flex;
	flex-direction: column;
	min-width:700px;
}
.body table thead,
.body table tbody{
	display:block;
	overflow-x:hidden;
	overflow-y:scroll;
	width:100%;
}
.body table thead{
	flex-shrink: 0;
}
.body table tbody{
	flex:1;
}
.body table thead th{
	background-color: rgb(55,55,55);
	padding:5px;
	font-weight: 400;
	font-size: 110%;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.body table tr{
	cursor:pointer;
	display:flex;
}
.body table th,
.body table td{
	flex:1;
	margin:0 1px;
	box-sizing: border-box;
	padding:5px;
	text-overflow: ellipsis;
	display:block;
	overflow:hidden;
}
.body table .checkboxe{
	min-width:50px;
	width:50px;
	flex-grow: 0;
}
.body table th.checkboxe{
	cursor:initial;
}
.body table .checkboxe input{
	height:17px;
	width:17px;
	cursor:pointer;
}
.body table tbody tr:nth-child(2n) td,
.body table tbody tr:nth-child(2n) th{
	background-color: rgb(25,25,25);
	transition:all 0.15s;
}
.body table tbody tr:hover td,
.body table tbody tr:hover th{
	background-color: rgb(65,65,65);
	color:var(--adminPanel-color);
	font-weight: 400;
}
.body thead .asc-sort,
.body thead .desc-sort{
	position:relative;
}
.body thead .asc-sort::before,
.body thead .desc-sort::before {
	content:'';
	position:absolute;
	right:10px;
	top:50%;
	transform: translateY(-50%);
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	box-sizing: border-box;
}
.body thead .desc-sort::before{
	border-bottom: 8px solid white;
}
.body thead .asc-sort::before{
	border-top: 8px solid white;
}
.body table th{
	color:var(--adminPanel-color);
}

@media (max-height: 700px) {
	.panel-bottom > .panel-item > * > svg{
		padding:5px;
	}
	.panel-bottom > .panel-item > * > span{
		padding:10px;
		font-size:80%;
	}
}
@media (max-width: 1180px) {
	.panel-left > .panel-item > * > svg{
		padding:10px;
	}
	.panel-left > .panel-item > * > span{
		padding:10px;
		font-size:80%;
	}
}
@media (max-height: 400px) {
	.panel-bottom > .panel-item > * > svg{
		padding:5px;
	}
	.panel-bottom > .panel-item > * > span{
		padding:5px;
		font-size:60%;
	}
}
@media (max-width: 600px){
	.logout-dialog .buttons a{
		padding:5px 20px;
	}
}
@media (max-width: 400px) {
	.panel-left > .panel-item > * > svg{
		padding:5px;
	}
	.panel-left > .panel-item > * > span{
		padding:5px;
		font-size:60%;
		word-break: break-word;
	}
}