[Unit]
Description=Gestionnaire de services du framework bee-color wfw

[Service]
Type=simple
User=root
KillSignal=SIGALRM
KillMode=process
ExecStart=/usr/bin/php -q @ROOT/daemons/sctl/SCTLServerLauncher.php --debug
Restart=always

[Install]
WantedBy=multi-user.target