body{
	color:white;
	background-color: rgb(35,35,35);
	font-weight:200;
}
.md-header{
    background-color : #FF9900
}
.md-typeset h1,h2,h3,h4,h5,h6{
	color:#FF9900;
}
.md-sidebar.md-sidebar--secondary > .md-sidebar__scrollwrap > .md-sidebar__inner > .md-nav,
.md-sidebar.md-sidebar--primary > .md-sidebar__scrollwrap > .md-sidebar__inner > .md-nav{
	padding:20px!important;
}
.md-nav{
	background-color: rgb(55,55,55);
}
[data-md-color-primary=amber] .md-tabs{
	color:black!important;
	background-color: rgb(55,55,55);
}
.md-typeset .codehilite .na,
a:not(.md-source),
.md-typeset a{
	color : #FF9900;
}
.md-typeset .codehilitetable .linenos{
	color:rgba(255,255,255,0.4);
	background-color: rgb(20,20,20);
}
.codehilite .hll, .md-typeset .highlight .hll{
	background-color: rgba(255,79,79,0.2);
}

.md-header-nav__button.md-logo > i{
	opacity: 0;
}

.md-container a:hover{
	color:white;!important
}

.md-typeset .codehilite:not(code){
	background-color : rgba(40,40,40,1);
	border-radius: 5px;
}

.codehilite:not(code) > pre{
	color: rgba(230,230,230,0.8);
}

.md-typeset code.codehilite, .md-typeset code.highlight{
	/*background-color : rgba(40,40,40,0);
	border-radius :  2px;
	color : rgba(230,230,230,0.8);
	padding-left :  5px;
	padding-right :  5px;*/
}

.md-typeset .codehilite:not(code) .p,
.md-typeset .codehilite:not(code) .o{
	color: rgba(240,240,240,1);
}
.md-typeset .codehilite .nv,
.md-typeset .codehilite .cp{
	color: rgba(210,20,20,1);
}

.md-typeset .codehilite .k{
	color: rgba(200,50,120,1);
}
.md-typeset .codehilite .nx{
	color: rgba(230,190,0,1);
}
.md-typeset .codehilite .s2{
	color: rgba(60,180,30,1);
}

.md-nav__link[data-md-state=blur]{
	color:rgba(255,255,255,0.5);
}

.md-typeset .codehilite, .md-typeset .highlight{
	background-color: rgb(20,20,20);
	color:rgba(255,255,255,0.6);
	box-shadow: 0.29412em 0 0 rgb(20,20,20), -0.29412em 0 0 rgb(20,20,20);
}
.codehilite .se,
.codehilite .sh,
.codehilite .si,
.codehilite .sx,
.md-typeset .highlight .se,
.md-typeset .highlight .sh,
.md-typeset .highlight .si,
.md-typeset .highlight .sx {
	color : #22aaca;
}

.md-typeset blockquote{
	color:rgba(255,255,255,0.5);
	border-left-color: rgba(255,255,255,0.5);
}

html .md-nav--primary .md-nav__title~.md-nav__list{
	background-color: rgb(55,55,55);
}
/*
html .md-nav--primary .md-nav__title{
	color:rgba(255,255,255,0.6);
	background-color: rgb(35,35,35);
}*/
